.header {
    height:50px ;
    border-bottom: 1px solid #F4F4F4;
    
}
.header__inner {
    max-width: 1230px;
}
.header__logo {
    font-size: 30px;
    font-weight: 500;
    font-family: jsMath-cmit10;
    font-style: italic;
    color: #F5C800;
}