.content {  
    width: 90%;
    margin: 0 auto;
}
    
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
}
h2 {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
}
.add__link {
    padding: 13px 20px;
    display: inline-block;
    text-decoration: none;
    background: #ffa929;
    font-weight: bold;
}
.product__content {
    
    display: flex;
    width: 100%;
    margin: 20px ;
   
}


.search-form__input-text {
    border-radius: 25px;
    width: 260px;
    height: 40px;
    border: 1px solid #e0dfde;
    padding: 5px 20px;
    margin-bottom: 30px;
    color: #e0dfde;
}
.search-form__button-submit {
    width: 260px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #f5c800;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin-bottom: 60px;
}
.products-show__label {
    font-size: 20px;
    font-weight: 600;
}
.products-show__select {
    width: 260px;
    height: 40px;
    border-radius: 5px;
    color: #e0dfde;
    border: 1px solid #e0dfde;
}
.products-card__group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-left: 300px;
}

.products-card {
    border: 1px solid #e0dfde;
    width: 400px;
    border-radius: 5px;
    height: 380px;
}
.products-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.products-card__item {
    text-decoration: none;
}
.products-card__content {
    background: #fff;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.products-card__name ,
.products-card__price{
    font-size: 24px;
    font-weight: 400;
    font-style: inter;
    color: #4b4b4b;
}


.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-left: 350px;
}


svg.w-5.h-5 {
  
    width: 30px;
    height: 30px;
    color: #f5c800;
}